.div
{
	border-image-source:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpwwNoGXlEC9pv8c4HZw3mVKIkCnt8-dZNyA&usqp=CAU');  
  border-image-slice: 30;
  border-image-width: 30px;

		border-color: red;
		border-width: 10px;
		border-style: solid;
		border-image-repeat: round;
}
.hina
{
	border-width: 20px;
	border-color: red;
	border-style: solid;
	border-image-source: url('https://png.pngtree.com/png-clipart/20230508/original/pngtree-blue-red-gradient-transparent-page-border-design-png-image_9150607.png');
	border-image-width: 30px;
	border-image-slice: 40;
}