.a{
  width: 2020px;
  height: 4000px;
  
}
.b{
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: coner;

}
.c{
  width: 2020px;
  height: 3300px;
}
